<app-navbar></app-navbar>

<form [formGroup] = 'RegistrationForm'>
    <div id="login-box">
          <h1>Reset Password</h1>
          
          <label for="email">Enter your email address to reset your password</label>
          <input type="text" name="email" formControlName="StudEmail" placeholder="email@address.com" /><br><br>
          
          <a href="/login/student">Back to Login</a><br><br>
    
          <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    
    </div>
    </form>